---
# tasks file for roles/base
- name: Wait for network to be up
  ansible.builtin.wait_for:
    host: 8.8.8.8
    port: 53
    timeout: 60

- name: Update system
  apt:
    update_cache: yes
    upgrade: dist

- name: Install base packages
  apt:
    name:
      - git
      - curl
      - vim
      - htop
      - ca-certificates
      - gnupg
      - lsb-release
    state: present
